services:
  # qdb
  qdb:
    image: questdb/questdb:8.3.3
    ports:
      - "9000:9000"
      - "8812:8812"

  # timescaledb
  timescaledb:
    image: timescale/timescaledb:latest-pg17
    ports:
    - "5432:5432"
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_USER: postgres
      POSTGRES_DB: tsdb

  # vanilla postgres
  postgres:
    image: postgres:latest
    ports:
    - "5433:5432"
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_USER: postgres
      POSTGRES_DB: pdb

  # influxdb
  influxdb:
    image: influxdb:2.7
    ports:
      - "8086:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: adminpass
      DOCKER_INFLUXDB_INIT_ORG: myorg
      DOCKER_INFLUXDB_INIT_BUCKET: benchmark
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: mytoken123

  # cratedb
  cratedb:
    image: crate:latest
    ports:
      - "4200:4200"
      - "5434:5432"
    environment:
      CRATE_HEAP_SIZE: 10g
    command: ["crate", "-Cnetwork.host=0.0.0.0", "-Cdiscovery.type=single-node"]

  # clickhouse
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    ports:
      - "8123:8123"
      - "9001:9000"
    environment:
      CLICKHOUSE_DB: default
      CLICKHOUSE_USER: default
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
    ulimits:
      nofile:
        soft: 262144
        hard: 262144